<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Feed Category</th>
        <th>Feed URL</th>
        <th>Last import</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
          
    </tbody>
 	</table>
</div>
